/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("../fonts/Roboto-Bold.ttf");
}




:root{
    --global-sky-color: #87ceeb;
}

html{
    font-family: "Roboto", sans-serif;
}

body{
    background: black;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.bgGamemode{
    background-image: url("../img/BGGamemode.png");
}

.bgGamemode--blur{
    backdrop-filter: blur(10px);
}

.game--blur, .homescreen--blur{
    filter: blur(10px);
}

.texty{
    color: wheat;
}

.intro, .homepage, .background{
    opacity: 0;
}

.c-pause-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
}
.c-pause-button{
    position: absolute;
    font-size: 3em;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.c-exit-button{
    position: absolute;
    font-size: 4em;
    top: 0px;
    left: 620px;
    cursor: pointer;
}

.c-victory-screen{
    /*position: fixed;*/
    display: flex;
    justify-content: center;
}

.o-hide-accessible{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
.c-button{
        /*styling button*/
        font-family: Roboto;
        /*padding: 0px 2em 0px 2em;*/
        font-size: 38px;
        color: white;
        font-weight: 700;
        background-color: #F88F3E;
        border-radius: 0.5em;
        margin: 0.5em;
        height: 80px;
        width: 500px;
        outline: none;
        cursor: pointer;
}
.c-card {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.05), 0 2px 4px rgba(0,0,0,.075);
    overflow: hidden;
    padding: 6em 5em 6em 5em;
    filter: blur(-10px);
}
.c-button--option{
    /*styling button*/
    width: 400px;
    margin-top: 3em;
    margin-bottom: -3.5rem;
    margin-right: -0.1em;
    cursor: pointer;
}

.c-label{
    margin-top: 0em;
    font-family: Roboto;
    font-weight: 700;
    line-height: 4.5rem;
    font-size:3.75rem ;
    text-align: center;
}
.c-label--title{
    color: red;
    margin-top: -0.7em;
    margin-bottom: 1em;
    line-height: 6.25rem;
    font-size: 6rem;
}
.c-label--positie{
    font-size: 2rem;
}

.menu-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
}

@keyframes fade {
    0%,70% {opacity: 0%;}
    100% {opacity: 100%}
}

.logo{
    width: 400px;
    height: 200px;
    margin: auto;
    animation: logo 2s ease-in-out infinite;
    z-index: 1;
}

.logo img{
    width: 95%;
    margin: auto;
}

@keyframes logo {
    0%,100% {transform: translateY(0px);}
    50% {transform: translateY(20px);}
}

.menu-items{
    margin: auto;
    position: relative;
    text-align: center;
    margin-top: 5%;
    width: 40%;
}

.menu-item{
    cursor: pointer;
    margin-bottom: 34px;
    font-size: 48px;
    padding-top: 26px;
    padding-bottom: 26px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border: 1px solid #F88F3E;
    background: #F88F3E ;
    border-radius: 8px;
    color: white;
}

.back-container{
    display: flex;
    position: absolute;
    top: 31px;
    left: 31px;
    cursor: pointer;
}

.selection-container{
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    justify-content: center;
    align-items: center;
}

.selection-title{
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 5rem;
    color: #B44700;
}

.selection-players{
    width: 75%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.player{
    cursor: pointer;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    transition: .2s;
}

.player:hover,
.player--selected{
    font-size: 2.813rem;
    color: #E95E03;
    text-shadow: 0 0 6px #B44700;
}

.avatar-container{
    margin-top: 2.75rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.avatar-container1{
    margin-top: 2.75rem;
    display: flex;
    justify-content: space-between;
}

.avatar{
    display: flex;
    flex-direction: column;
}

.avatar img{
    margin-bottom: 1.563rem;
    cursor: pointer;
}

.name{
    text-align: center;
    font-weight: 700;
}
.heartbeat-container{
    display: flex;
    align-items: center;
    margin: auto;
}
.heartbeat{
    width: 75%;
    margin: auto;
    cursor: pointer;
}

.next-button{
    cursor: pointer;
    background: #F88F3E;
    border: 1px solid #F88F3E;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    padding: 1rem 100px;
}

.ishidden{
    display: none;
}

.current{
    display: block;
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .js-canvas-div{
      background: transparent;
  }
