@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../fonts/Roboto-Bold.ttf");
}


:root{
    --global-sky-color: #87ceeb;
}

html{
    font-family: "Roboto", sans-serif;
}

body{
    background: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}
.intro, .homepage, .background{
    opacity: 0;
}

.menu-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    animation: fade 4.7s ease-in-out;
}

@keyframes fade {
    0%,70% {opacity: 0%;}
    100% {opacity: 100%}
}

.logo{
    width: 400px;
    height: 200px;
    margin: auto;
    animation: logo 2s ease-in-out infinite;
    z-index: 1;
}

.logo img{
    width: 95%;
    margin: auto;
}

@keyframes logo {
    0%,100% {transform: translateY(0px);}
    50% {transform: translateY(20px);}
}

.menu-items{
    margin: auto;
    position: relative;
    text-align: center;
    margin-top: 5%;
    width: 40%;
}

.menu-item{
    cursor: pointer;
    margin-bottom: 34px;
    font-size: 48px;
    padding-top: 26px;
    padding-bottom: 26px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border: 1px solid #F88F3E;
    background: #F88F3E ;
    border-radius: 8px;
    color: white;
}

.icanfly {
    width:101px;
    height:81px;
    margin-top: 800px;
    transform-origin:1200% center;
    position:relative;
    animation:rotate 10s linear infinite;
    z-index: -50;
}
.icanfly:before { 
    content:'';
    position:absolute;
    height:100%; 
    width:100%;
    animation:rotate 10s linear reverse infinite;
}

.icanfly-left {
    width:101px;
    height:81px;
    margin-top: 800px;
    transform-origin:1200% center;
    position:absolute;
    animation:rotate-left 10s linear infinite;
    z-index: -50;
}
.icanfly-left:before { 
    content:'';
    position:relative;
    height:100%; 
    width:100%;
    background: turquoise;
    animation:rotate-left 10s linear reverse infinite;
}

.flying-duck{
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    100% { transform:rotate(360deg); } 
}
@keyframes rotate-left {
    100% { transform:rotate(-360deg); } 
}


.ishidden{
    display: none;
}

.current{
    display: block;
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }